:root{
    --bg-color:rgb(255, 255, 255);
    --txt-color:rgb(73, 76, 107);
    --disabled-txt-color:rgb(209, 210, 218);
    --unhover-color:rgb(148, 149, 165);
    --border-color:rgb(227, 228, 241);
    --box-shadow-color:rgba(194, 195, 214, 0.5);
}